.App {
  width: 80vw;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 3px;
  background: black;
  color: antiquewhite;
}
.header {
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: antiquewhite;
  margin: 3px;
  border-radius: 50%;
}
